<!DOCTYPE html>
<html>
<head>
  <title>LifeOrg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta charset="UTF-8">
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <link rel="stylesheet" href="./css/bootstrap.css" type="text/css">
	   <link rel="stylesheet" href="./css/bootstrap-responsive.css" type="text/css">
	   <link rel="stylesheet" href="./css/strip.css" type="text/css">
	   <link rel="stylesheet" href="./css/strip-responsive.css" type="text/css">
	  	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
	   <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
		<script> $(function(){ $('#myCarousel').carousel(); }); </script>
	
	<%= yield :head %>
</head>
<body>

	<%= render 'layouts/header' %>	
	
	<div class="container-fluid">
		<div class="row-fluid">
				<% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
				<% end %>
			<%= yield %>
		</div>
	</div>

</body>
</html>
